.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-last-of-type(2n){
	float: left;
}

.citacao-bio:nth-last-of-type(2n+1){
	float: right;
}

.citacao-bio:hover, .citacao-bio:focus{
    box-shadow: 0 0 0 9999px rgba(0,0,0, .8);
}

.citacao-bio:nth-last-of-type(2n):hover, .citacao-bio:nth-last-of-type(2n):focus{
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio:nth-last-of-type(2n+1):hover, .citacao-bio:nth-last-of-type(2n+1):focus{
    transform: scale(1.2) rotate(5deg);
}

.cite {
	font-style: italic;
	float: right;
}