.texto > p::first-letter{
    font-size: 200%;
    font-weight: bold;
    color: #3c1d3d;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before{
    content: '“';
    font-size: 10em;
    color: #bbb;
    position: absolute;
    line-height: .8;
}

.citacao-bio > p{
    position: relative;
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-last-of-type(2n){
	float: left;
}

.citacao-bio:nth-last-of-type(2n+1){
	float: right;
}

.citacao-bio:hover, .citacao-bio:focus{
    box-shadow: 0 0 0 9999px rgba(0,0,0, .8);
}

.citacao-bio:nth-last-of-type(2n):hover, .citacao-bio:nth-last-of-type(2n):focus{
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio:nth-last-of-type(2n+1):hover, .citacao-bio:nth-last-of-type(2n+1):focus{
    transform: scale(1.2) rotate(5deg);
}

.cite {
	font-style: italic;
	float: right;
}

table{
    border-collapse: separate;
    border-spacing: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.habilidades > th{
    background-color: #851944;
    color: #fff;
}

.cabecalho > th{
    background-color: #3C1D3D;
    color: #fff;
}

td{
    background-color: #eee;
    color: #000;
}

.habilidades > th,
.cabecalho > th,
td{
    padding: 1em;
}

.novashabilidades {
    text-align: center;
    font-style: italic;
    vertical-align: middle;
}

